@(scenarioForm: Form[Scenario], event_id: Long, id: Long)

@import helper._
@import helper.twitterBootstrap._

@main("Granata Decision Systems") {
<h1>Create a New Scenario</h1>

@helper.form(action = routes.Scenarios.submit(event_id), 'id -> "scenarioForm"){
	@helper.inputText(scenarioForm("name"))
	@helper.inputText(scenarioForm("description"))
	<input type="hidden" value="@id" name="scenario_id" />
	<input type="submit" class="btn primary" value="Send" />
}
}

