@(scenario: Scenario, event_id: Long, campaignCons:List[CampaignScenario])

@import helper._
@main("Granata Decision Systems") {
<h1>Scenario - @scenario.name</h1>
<p>
<a href='@routes.Events.view(event_id)'>Back to Event</a> | <a href='@routes.Scenarios.update(event_id, scenario.id)'>Edit this Scenario</a> | <a href='@routes.Scenarios.delete(event_id, scenario.id)'>Remove this Scenario</a>
</p>

	
<strong>Name:</strong>
<p>@scenario.name</p>

<strong>Description:</strong>
<p>@scenario.description</p>
	
	
<h2>Global Constraints</h2>
<p>Click <a href='@routes.GlobalConstraints.view(scenario.globalConstraintSet.id)'>here</a>
to see this scenario's Global Contraints
</p>

<h2>Campaign Constraints</h2>
	
	<ul>
	@for(campaignCon <- campaignCons){
	<li>@campaignCon.campaign.name - <a
		href='@routes.CampaignScenarios.view(campaignCon.id)'>View</a>
	</li> 
	}
</ul>
	


<a href='@routes.Scenarios.index(event_id)'>Back to Scenarios</a>
}