@(constraintSet: GlobalConstraintSet)

@main("Granata Decision Systems") {
<h1>Global Constraints for @constraintSet.scenario.name</h1>
<p>
<a href='@routes.GlobalConstraints.update(constraintSet.id)'>Edit these constraints</a> | <a href='@routes.Scenarios.view(constraintSet.scenario.event.id, constraintSet.scenario.id)'>Back to Scenario</a>
</p>

<p>Name: @constraintSet.name</p>
	


}