@(campaignConsForm: Form[CampaignScenario], campaignCon_id:Long)

@import helper._

@main("Granata Decision Systems") {
<h1>Edit Campaign Constraints</h1>

@helper.form(action = routes.CampaignScenarios.submit, 'id -> "campaignConsForm"){
	
	
	<input type="hidden" value="@campaignCon_id" name="campaignCon_id" />
	<input type="submit" class="btn primary" value="Send" />
}
}

