@(campaignCon: CampaignScenario)

@main("Granata Decision Systems") {
<h1>Campaign Constraints - @campaignCon.campaign.name</h1>
<p>
<a href='@routes.CampaignScenarios.update(campaignCon.id)'>Edit this Campaign's Constraints</a> | <a href='@routes.Scenarios.view(campaignCon.campaign.event.id, campaignCon.scenario.id)'>Back to Scenario</a>
</p>

<strong>Details:</strong>
<p>stuff</p>
	


}