@(eventForm: Form[Event], id: Long)

@import helper._
@import helper.twitterBootstrap._

@main("Granata Decision Systems") {
<h1>Create a New Event</h1>

@helper.form(action = routes.Events.submit(), 'id -> "eventForm"){
	@helper.inputText(eventForm("name"))
	@helper.inputText(eventForm("description"))
	<input type="hidden" value="@id" name="event_id" />
	<input type="submit" class="btn primary" value="Send" />
}
}

