@(events: List[Event])

@main("Granata Decision Systems") {
<h1>Events</h1>

@if(events.length == 0){
<p>There are no events</p>
}else{
<ul>
@for(event <- events){
	<li>@event.name - <a href='@routes.Events.view(event.id)'>View</a></li>
}
</ul>
}
<a href='@routes.Events.add()'>Add New Event</a> <br />
}