@(event: Event, scenarios:List[Scenario], campaigns:List[Campaign])

@import helper._ 
@main("Granata Decision Systems") {
<h1>Event - @event.name</h1>
<p>
<a href='@routes.Events.index()'>Back to Events</a> | <a href='@routes.Events.update(event.id)'>Edit this Event</a> | <a href='@routes.Events.delete(event.id)'>Remove this Event</a>
</p>

<strong>Name:</strong>
<p>@event.name</p>

<strong>Description:</strong>
<p>@event.description</p>

<br />
<br />
<br />
		
		<div class="well">
<h2>Scenarios</h2>
@if(scenarios.length == 0){
<p>There are no scenarios</p>
}else{
<ul>
	@for(scenario <- scenarios){
	<li>@scenario.name - <a
		href='@routes.Scenarios.view(event.id, scenario.id)'>View</a>
	</li> 
	}
</ul>
}
<a href='@routes.Scenarios.add(event.id)'>Add New Scenario</a>
</div>

<div class="well">
<h2>Campaigns</h2>

@if(campaigns.length == 0){
<p>There are no campaigns</p>
}else{
<ul>
	@for(campaign <- campaigns){
	<li>@campaign.name - <a
		href='@routes.Campaigns.view(event.id, campaign.id)'>View</a>
	</li> 
	}
</ul>
}
<a href='@routes.Campaigns.add(event.id)'>Add New Campaign</a>
</div>




}