@(gConsForm: Form[GlobalConstraintSet], constraint_id:Long)

@import helper._

@main("Granata Decision Systems") {
<h1>Edit Constraints - @constraint_id</h1>

@helper.form(action = routes.GlobalConstraints.submit, 'id -> "constraintsForm"){
	@helper.inputText(gConsForm("name"))
	
	<input type="hidden" value="@constraint_id" name="constraint_id" />
	<input type="submit" class="btn primary" value="Send" />
}
}

