@(campaign: Campaign, event_id: Long)

@import helper._
@main("Granata Decision Systems") {
<h1>Campaign - @campaign.name</h1>
<p>
<a href='@routes.Events.view(event_id)'>Back to Event</a> | <a href='@routes.Campaigns.delete(event_id, campaign.id)'>Remove this Campaign</a>
</p>

<p>Name: @campaign.name</p>
	
	
	



}