@(scenarios: List[Scenario], event_id: Long)

@main("Granata Decision Systems") {
<ul>
@for(scenario <- scenarios){
	<li>@scenario.id - @scenario.name - <a href='@routes.Scenarios.view(event_id, scenario.id)'>View</a> | <a href='@routes.Scenarios.update(event_id, scenario.id)'>Edit</a> | <a href='@routes.Scenarios.delete(event_id, scenario.id)'>Delete</a></li>
}
</ul>

<a href='@routes.Scenarios.add(event_id)'>Add New Scenario</a> <br />
<a href='@routes.Events.view(event_id)'>Back to Event</a>

}