@(campaignForm: Form[Campaign], event_id: Long, campaign_id: Long)

@import helper._
@import helper.twitterBootstrap._

@main("Granata Decision Systems") {
<h1>Create a New Campaign</h1>

@helper.form(action = routes.Campaigns.submit(event_id), 'id -> "campaignForm"){
	@helper.inputText(campaignForm("name"))
	<input type="hidden" value="@campaign_id" name="campaign_id" />
	<input type="submit" class="btn primary" value="Send" />
}
}

