@(campaigns: List[Campaign], event_id:Long)

@main("Granata Decision Systems") {
<ul>
@for(campaign <- campaigns){
	<li>@campaign.id - @campaign.name - <a href='@routes.Campaigns.view(campaign.event.id, campaign.id)'>View</a> | <a href='@routes.Campaigns.update(campaign.event.id, campaign.id)'>Edit</a> | <a href='@routes.Campaigns.delete(event_id, campaign.id)'>Delete</a></li>
}
</ul>

<a href='@routes.Campaigns.add(event_id)'>Add New Campaign</a> <br />
<a href='@routes.Events.view(event_id)'>Back to Event</a>

}